@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: orangered;
}
.form_cover {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form_body {
  background-color: #fff;
  height: 80vh;
  width: 60vw;
  box-shadow: -1px -4px 15px 5px;
}
.form_body h2 {
  text-align: center;
  padding: 20px;
  font-size: 30px; 
}
.form_body form {
  text-align: center;
  margin-top: 20px;
}
.form_body form > input {
  text-align: center;
  padding: 1vw 5vw 5px 5vw;
  outline: none;
  border: none;
  border-bottom: 2px solid #ff0066;
  margin-bottom: 20px;
}
.form_body form p{
  font-size: 15px;
font-weight: bold;
font-family: sans-serif;
}
.form_body form > input::placeholder {
  color: #a78787;
  font-size: 15px;
}
.form_body form > input[type="submit"] {
  background-color: #ff0066;
  width: 250px;
  padding: 10px 0 10px 0;
  cursor: pointer;
  margin-top: 10px;
}
.field{
  margin-left: 30%;
  margin-right:50%;
  padding:20px 0 20px 0;
}
